.claimdisttooltip {
    position: relative;
    display: inline-block;
}

.disttitanethtooltip {
    position: relative;
    display: inline-block;
}

.distpayouttooltip .distpayouttooltip_content {
    visibility: hidden;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-top: -190px;
    margin-left: -400px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 20vw;
    height: auto;
    padding: 10px 2rem 10px 2rem;
    border-radius: 20px;
    background: radial-gradient(circle, #bb5400, #5b1b03);
    border: 2px solid rgb(254, 156, 1);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.disttinethtooltip .disttinethtooltip_content {
    visibility: hidden;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-top: -420px;
    margin-left: -650px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 20vw;
    height: auto;
    padding: 10px 2rem 10px 2rem;
    border-radius: 20px;
    background: radial-gradient(circle, #bb5400, #5b1b03);
    border: 2px solid rgb(254, 156, 1);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.modal_header {
    position: relative;
    text-align: center;
}

.modal_header>.header_top,
.header_bottom {
    font-size: 18px;
    font-weight: bold;
}

.modal_content {
    display: flex;
    text-align: center;
    margin: 18px 0 0 0;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 0px;
}

.content_container {
    width: 100%;
}

.token_counter {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.token_counter_name {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img.iconimg {
    margin-top: 8px;
    margin-right: 5px;
    width: 24px;
}

.dollar_counter {
    display: flex;
    width: 100%;
    justify-content: end;
}

.counter_left_box:nth-child(2) {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.48);
}

.distpayout_text {
    font-weight: bold;
}

.counter_left_box:nth-child(3) {
    margin-top: 8px;
}

.disttinethtooltip:hover .disttinethtooltip_content {
    visibility: visible;
    opacity: 1;
}

.distpayouttooltip:hover .distpayouttooltip_content {
    visibility: visible;
    opacity: 1;
}