.token-name {
    color: #f4b940;
    margin-left: 5px;
    font-size: 19px;
}

.dollar-nom {
    color: white;
    font-size: 16px;
}

.active_text_content {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
}

.left_text {
    text-align: left;
    font-size: 19px;
}

.right_text {
    text-align: right;
    font-size: 19px;
}

.position-card__row__info>h3 {
    font-size: 19px;
    font-weight: 100;
}

.stats-token-count>h3 {
    font-size: 19px;
    font-weight: 100;
}

.tooltip_text_dashboard {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tooltip_text_dashboard_name {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}