table.reward_pool_count_table {
    width: 100%;
    color: #fff;
    line-height: 1 !important;
    border-spacing: 0px;
    margin-bottom: 10px;
    margin-top: 18px;
}

tr,
td {
    padding: 2.5px;
}

.title_amount_titanx_td {
    width: 45%;
    padding-right: 10px;
    font-size: 19px;
}

.amount_titanx_td {
    width: 40%;
    text-align: end;
    font-size: 19px;
    color: #f4b940;
    font-weight: bold;
}

.titanx_name_td {
    width: 10%;
    padding-left: 10px;
    font-size: 19px;
    color: #f4b940;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.amount_eth_td {
    text-align: end;
    font-size: 19px;
    color: #f4b940;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.name_eth_td {
    /* padding-left: 10px; */
    font-size: 20px;
    color: #f4b940;
    font-weight: bold;
}

.amount_usd_td {
    text-align: end;
    font-size: 16px;
    font-weight: bold;
}

.name_usd_td {
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.tooltip_name_reward {
    margin: 0;
    font-weight: bold;
}

.name_eth_td {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}