.tooltipx_header {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltipx_header .tooltiptextx_header {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    line-height: 1.6;
}

.tooltipx_header:hover .tooltiptextx_header {
    visibility: visible;
    opacity: 1;
}